<!DOCTYPE html>
<html lang="en">
<head>
  <title>Needy Records</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="javascript/angular.min.js"></script>
  <script>
     var module=angular.module("myModule",[]);
        module.controller("myController",function($scope,$http){
            $scope.jsonArray;
            $scope.fetchRecords=function()
                {
                    var url="/get-angular-needy-records";
                    $http.get(url).then(done,fail);
                    function done(response)
                        {
                            alert(JSON.stringify(response.data));
                            $scope.jsonArray=response.data;

                        }
                     function fail(response)
                        {
                                alert(response.data);
                        }   
                }
        })
  </script>
</head>
<body ng-app="myModule" ng-controller="myController" style="background-color:#E3F6FF;">
    <center><button type="button" ng-click="fetchRecords();" class="btn btn-primary mt-5 mb-3">Fetch Records</button></center>
<div class="container">
  <h2>NEEDY RECORDS</h2>        
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Sr.No</th>
        <th>Email Id</th>
        <th>Name</th>
        <th>Contact</th>
        <th>Address</th>
        <th>City</th>
        <th>Dob</th>
        <th>Gender</th>
        <th>Picname</th>
        <th>Prev</th>
        
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in jsonArray">
        <td>{{$index+1}}</td>
        <td>{{obj.emailid}}</td>
        <td>{{obj.name}}</td>
        <td>{{obj.contact}}</td>
        <td>{{obj.address}}</td>
        <td>{{obj.city}}</td>
        <td>{{obj.dob}}</td>
        <td>{{obj.gender}}</td>
        <td>{{obj.picname}}</td>
        <td align="center">
            <img src="uploads/{{obj.picname}}" alt="" width="100" height="100">
        </td>
      </tr>
    </tbody>
  </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>